# Laravel & PHP specific
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/*.log
/storage/*.cache
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache

# Laravel environment files
.env
.env.backup
.env.production

# PHPUnit cache & result
.phpunit.result.cache
.phpunit.cache

# IDE specific files
/.idea
/.vscode
/.fleet

# Homestead & Docker
Homestead.json
Homestead.yaml
/.docker
docker-compose.yml
docker-compose.override.yml

# Composer & NPM related files
composer.phar
composer.lock
package-lock.json
yarn.lock
npm-debug.log*
yarn-error.log*

# Miscellaneous
/.vagrant
/public/build
/public/hot
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Ignoring coverage reports and analysis files
/coverage
/.php-cs-fixer.cache

# Ignoring assets for deployment or CI/CD
/deploy
/ci

# Logs and temporary files
/storage/logs/*
/tmp
.DS_Store
Thumbs.db
